node_modules/
*.DS_Store

#amplify
amplify/logs
amplify/mock-data
build/
dist/
node_modules/
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*